@import url('https://fonts.cdnfonts.com/css/google-sans');

.card-formation{
  height: 325px;
}

.card-formation-header{
  /* Estilizado no arquivo de cards.css */
}

.card-formation-header-tag{
  background: url(../../../icon/asterisc.svg) center / contain no-repeat;
  width: 15px;
  height: 15px;
}

.card-formation-header-progress{
  font-family: 'Product Sans', sans-serif;
}

.card-formation-body{
  display: initial;
}

.card-formation-body-title{
  /* Estilizado no arquivo de cards.css */
}

.card-formation-body-courses-finished{
  margin-bottom: 2.5rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: var(--c);
  border-radius: 5px;
  color: var(--branco-70);
}

.card-formation-body-courses-finished div{
  display: flex;
  align-items: center;
}

.card-formation-body-courses-finished b{
  margin-right: 0.25rem;
  font-weight: 600;
  color: var(--branco);
}

.card-formation-body-courses-finished span{
  display: inline-block;
  background: url(../../../icon/certificate.svg) center / contain no-repeat;
  width: 12.5px;
  height: 16px;
  margin-right: 0.5rem;
}

.card-formation-body-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

