.card-course.card-empty,
.card-formation.card-empty{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-empty-content{
  display: initial;
}

.card-empty-content-image{
  width: 25px;
  height: 25px;
  background: url(../../../icon/empty.svg) center / contain no-repeat;
  display: inline-block;
  margin-bottom: 1rem;
}

