.card-course{
  height: 300px;
}

.card-course-header{
  /* Estilizado no arquivo de cards.css */
}

.card-course-header-tag{
  background: url(../../../icon/mark-line.svg) center / contain no-repeat;
  width: 15px;
  height: 15px;
}

.card-course-header-progress{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, var(--roxo) 70%, transparent 40% 100%),
    conic-gradient( var(--branco-40) var(--s), var(--branco) 0);  
}

.card-course-header-progress progress{
  display: none;
}

.card-course-body{
  display: initial;
}

.card-course-body-title{
  /* Estilizado no arquivo de cards.css */
}

h3.card-course-body-title{
  margin-bottom: 2rem;
}

.card-course-body-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}