@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import url(./frameworks/bootstrap.css);

@import url(./normalize.css);
@import url(./reset.css);

@import url(./cores.css);
@import url(./variaveis.css);

@import url(./elementos/no-script.css);
@import url(./elementos/spinners.css);

@import url(./componentes/header.css);
@import url(./componentes/main.css);
@import url(./componentes/buttons.css);
@import url(./componentes/info-group.css);
@import url(./componentes/cards.css);
@import url(./componentes/access-data.css);
@import url(./componentes/progress-data.css);
@import url(./componentes/footer.css);

html{
  scroll-behavior: smooth;
}

html.block-scroll{
  overflow-x: hidden;
  overflow-y: hidden;
}

*{
  font-family: var(--fonte-principal);
}

body{
  background: linear-gradient(108.26deg, #161683 0%, #1E2B9E 1000vh);
  position: relative;
  color: #FFF;
}

.none{
  display: none;
}

.block{
  display: block;
}

@media screen and (max-width: 575px) {
  .container{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media screen and (max-width: 434px) {
  .container{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}