:root{
  --fonte-principal: 'Inter Tight', sans-serif;
  --fonte-secundaria: 'Inter', sans-serif;

  --size-titulos-grandes: 1.562rem;
  --size-titulo: 1.5rem;
  --size-texto-grande: 1.25rem;
  --size-texto: 1rem;
  --size-texto-pequeno: 0.875rem;
}

@media screen and (max-width: 767px) {
  :root{
    --size-titulos-grandes: 1.25rem;
    --size-titulo: 1.25rem;
    --size-texto-grande: 1.1rem;
    --size-texto: 1rem;
    --size-texto-pequeno: 0.875rem;
  }
}