.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--branco-medio-25);
  border-right-color: var(--branco-medio);
  animation: spinner-anima 1s infinite linear;
}

@keyframes spinner-anima {
  to {
    transform: rotate(1turn);
  }
}