.spinner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid;
  border-color: rgba(217, 217, 217, 0.25);;
  border-right-color: #fefefe;
  animation: spinner-anima 1s infinite linear;
}

@keyframes spinner-anima {
  to {
    transform: rotate(1turn);
  }
}