@import url(./cards/card-course.css);
@import url(./cards/card-empty.css);
@import url(./cards/card-placeholder.css);
@import url(./cards/card-formation.css);

/* Models */
.card-course,
.card-formation{
  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(12.5px);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(135deg, rgba(255, 255, 255, 0.125) 0%, rgba(255, 255, 255, 0.5) 100%); 
  border-radius: 10px;
  padding: 1rem;
}

.card-course-header,
.card-formation-header{
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

.card-formation-body-title,
.card-course-body-title,
.card-empty-content-title{
  margin-bottom: 0.75rem;
  font-size: var(--size-titulos-grandes);
  font-weight: 600 !important;
  width: min(330px, 100%);
}