@import url('https://fonts.cdnfonts.com/css/google-sans');

.card-formation{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(12.5px);  
  border-radius: 10px;
  border: 1px solid;
  border-image-source: linear-gradient(135deg, rgba(255, 255, 255, 0.125) 0%, rgba(255, 255, 255, 0.5) 100%);
  padding: 1rem;
  
  height: 300px;

  display: flex;
  align-items: initial;
  justify-content: space-between;
  flex-direction: column;
}

.card-formation-header{
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

.card-formation-header-tag{
  background: url(../../icon/asterisc.svg) center / contain no-repeat;
  width: 15px;
  height: 15px;
}

.card-formation-header-progress{
  font-family: 'Product Sans', sans-serif;
}

.card-formation-body{
  display: initial;
}

.card-formation-body-title{
  margin-bottom: 0.75rem;
  font-size: var(--size-titulos-grandes);
  font-weight: 600 !important;
  width: min(330px, 100%);
}

.card-formation-body-courses-finished{
  margin-bottom: 1.5rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background: var(--c);
  border-radius: 5px;
  color: var(--branco-70);
}

.card-formation-body-courses-finished div{
  display: flex;
  align-items: center;
}

.card-formation-body-courses-finished b{
  margin-right: 0.25rem;
  font-weight: 600;
  color: #FFF;
}

.card-formation-body-courses-finished span{
  display: inline-block;
  background: url(../../icon/certificate.svg) center / contain no-repeat;
  width: 12.5px;
  height: 16px;
  margin-right: 0.5rem;
}

.card-formation-body-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

