.main{
  min-height: 100vh;
}

.main.loading{
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #1E2B9E;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
}

.main.content{
  display: initial;
}

.main.content .container{
  padding: 4.375rem 0;
}
